# Exemplo de variáveis para o Frontend
VITE_SUPABASE_URL=https://jbpbycrpystxfeqtpkqa.supabase.co
VITE_SUPABASE_ANON_KEY=sua_chave_anonima_do_supabase_aqui
VITE_BACKEND_URL=http://localhost:4000/api
VITE_TEACHER_EMAILS=professor@pibsmp.org,admin@pibsmp.org
